{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>About the site</h1>
<p>

    Welcome to the newly refreshed RogerEbert.com, the world’s preeminent destination for movie criticism,
    commentary and community. Ever since the passing of the site's co-founder and namesake, Pulitzer Prize-winning film critic Roger Ebert, in 2013,
    it has been run by his wife, Chaz Ebert. Chaz has been guiding the current redesign in conjunction with celebrated web developer Table XI, IT consultant, Myrin New,
    Ebert Company executive, Sonia Evans, and Managing Editor, Brian Tallerico to ensure that Roger's passion for movies, decades of essential reviews, and ability to connect with readers serve as the site's foundation.
    Chaz with her team of professional editors (Brian Tallerico, Matt Zoller Seitz, Nick Allen, Matt Fagerholm and Nell Minow), continues to maintain Roger’s high standards for providing timeless insights in cinematic discourse,
    while exploring the latest releases with coverage penned by a diverse array of esteemed writers. We will continue to bring not only current reviews of films from major studios, but one of the most comprehensive coverage of reviews
    from independent and documentary film makers, as well as reviews of leading television or cable series and shows from various streaming platforms.
    In this new and improved iteration of RogerEbert.com, you will find more user-friendly features, faster loading with improved search engine optimization, a Collections section of movies by genre, cleaner more aesthetically pleasing graphics, and many other delights. Interviews with noted filmmakers will be enhanced by more video and print features, as well as features paying tribute to events in the world of cinema, and even life itself.

We will soon be offering an enhanced version of the Ebert fan club now dubbed Ebert Prime, a subscription service providing an ad free experience, easier access to the site's content, as well as exclusive rare footage fit for cinephiles. And we are bringing back, by popular demand, our “Letters to the Editors” to make sure we continue to provide two-way communication between us. It was a highlight of Roger’s experience with the site and we are eager to embrace it.

Roger was an innovator in so many ways. From democratizing






</p>
</body>
</html>

{% endblock %}
